#root{
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
  min-height: 100vh;
}
.header-nav {
  margin: 0 auto;
  width: 80%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.stars{
  padding: 0 0 3px 0;
  background: none;
  color: #eee;
  border: none;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}
.main {
  margin: 0 auto;
  width: 80%;
  min-height: 40vh;
}
/* * section */
.section-container{
  margin: 0 auto;
  max-width: 800px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media screen and (max-width: 610px){
  .section-container{
    flex-direction: column-reverse;
    gap: 30px;
  }
}
/* * form */
.container-form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}
.container-form-title {
  margin-bottom: 10px;
}
.container-form-title,
.container-form-description {
  padding: 5px 10px;
  height: 35px;
  color: #eee;
  background: none;
  font-size: .8rem;
  border: 1px solid #222;
  border-radius: 4px;
  outline: none;
  transition: border 0.3s ease-in;
}
.container-form-description{
  padding-top: 10px;
  height: 100px;
  resize: none;
}
/* TODO: Seria mejor solo ':focus' ?*/
/* .container-form-title:hover,
.container-form-description:hover, */
.container-form-title:focus,
.container-form-description:focus {
  border: 1px solid #019252;
}
.containter-form-colors {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.btn-add {
  margin: 0 auto;
  width: 120px;
  height: 28px;
  cursor: pointer;
  color: #eee;
  background: none;
  border: 1px solid #222;
  border-radius: 4px;
  outline: none;
  transition: border 0.3s ease-in;
}
.btn-add:hover,
.btn-add:active {
  border: 1px solid #019252;
}
input[type='radio'] {
  appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #444;
  color: white;
  cursor: pointer;
}
input[type='radio']:nth-child(1){
  background-color: #056f70;
}
input[type='radio']:nth-child(2){
  background-color: #ef6476f8; 
}
input[type='radio']:nth-child(3){
  background-color: #d26a0a; 
}
input[type='radio']:nth-child(4){
  background-color: #2cbe6ec4; 
}
input[type='radio']:nth-child(5){
  background-color: #563684; 
}
input[type='radio']:checked {
  border: 2px solid #fff;
}
/* * container time */
.container-time{
  text-align: center;
}
.container-time > span{
  display: block;
  font-size: 48px;
}

/* * tasks */
.section-container-tasks{
  padding: 45px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 35px;
}
.container-task{
  padding: 30px;
  width: 320px;  
  border-radius: 4px;  
  overflow-wrap: break-word;
  min-height: 200px;
  border: 1px solid #ccc;
}
.container-task-description{
  margin-top: 5px;
  font-size: .9rem;
  text-wrap: balance;
}
.container-task-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.task-btn-close{
  background-color: transparent;
  border: none;    
  cursor: pointer;
}
/* footer */
.footer{  
  margin: 0 auto;
  width: 80%;
  text-align: center;  
  border-top:  1px solid #444;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-list{
  display: flex;
  gap: 15px;
}
.footer-list-item{
  list-style: none;
}
.list-item-link{
  color: #aaa;
  text-decoration: none;
  transition: color .3s ease, box-shadow .3s ease;
}
.list-item-link:hover, .list-item-link:active{
  color: #019252;
  filter: drop-shadow( 0px 0px 10px #019252);
}